store-dir=.pnpm-store
block-exotic-subdeps=false
electron_mirror=https://registry.npmmirror.com/-/binary/electron/
# Electron Forge requires a hoisted node_modules layout
node-linker=hoisted
shamefully-hoist=true
