store-dir=.pnpm-store
block-exotic-subdeps=false

# 国内镜像加速
registry=https://registry.npmmirror.com
electron_mirror=https://registry.npmmirror.com/-/binary/electron/
electron_builder_binaries_mirror=https://registry.npmmirror.com/-/binary/electron-builder-binaries/
nsis_plugin_mirror=https://registry.npmmirror.com/-/binary/nsis/

# Electron Forge requires a hoisted node_modules layout
node-linker=hoisted
shamefully-hoist=true
